{% extends "base.jinja2" %}
{% from "macros/top_chart.jinja2" import chart with context %}

{#- CSS -#}
{% block css %}
    <link rel = "stylesheet" href = "/static/css/startpage.css" />
{% endblock %}

{#- Startpage -#}
{% block content %}
    <div id = "startpage">

        <!-- Top charts -->
        {{ chart("artist", "Top Artists") }}
        {{ chart("track", "Top Tracks") }}
        {{ chart("album", "Top Albums") }}

        <!-- Pulse -->
        <section data-item-type = "pulse" style = "grid-area: pulse;">
            <h1><a href = "/pulse">Pulse</a></h1>
            <span class = "stat-select" data-timespan = "day">12 days</span> |
            <span class = "stat-select" data-timespan = "week">12 weeks</span> |
            <span class = "stat-select" data-timespan = "month">12 months</span> |
            <span class = "stat-select" data-timespan = "year">12 years</span>
            <table class = "list"></table>
        </section>

        <!-- Last scrobbles -->
        <section style = "grid-area: lastscrobbles;">
            <h1><a href = "/scrobbles">Last Scrobbles</a></h1>
            <table class = "list">
                <tbody>
                    {% for scrobble in db.get_recent_scrobbles() %}
                        <tr>
                            <td class = "time">{{ format_time(scrobble["listened_at"]) }}</td>
                            <td class = "icon">
                                <div style = "background-image: url('/image?artist={{ scrobble['artist_name'] }}&track={{ scrobble['track_name'] }}');"></div>
                            </td>
                            <td class = "track">
                                <span class = "artist_in_trackcolumn">
                                <a href = "/artist?artist={{ scrobble['artist_name'] }}">{{ scrobble["artist_name"] }}</a></span> &#8211; 
                                <a href = "/track?artist={{ scrobble['artist_name'] }}&track={{ scrobble['track_name'] }}">{{ scrobble["track_name"] }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}
