{% macro chart(type, title) -%}
    <section data-item-type = "{{ type }}" style = "grid-area: charts_{{ type }}s;">
        <h1><a href = "/charts_{{ type }}s">{{ title }}</a></h1>
        <span class = "stat-select" data-timespan = "day">Today</span> |
        <span class = "stat-select" data-timespan = "week">This Week</span> |
        <span class = "stat-select" data-timespan = "month">This Month</span> |
        <span class = "stat-select" data-timespan = "year">This Year</span> |
        <span class = "stat-select" data-timespan = "all">All Time</span>
        <div class = "tiles"></div>
    </section>
{%- endmacro %}